<div class="trm-contacts-editor">
  <form [formGroup]="form" (submit)="save(form)">
    <mat-card>
      <mat-card-title-group class="fullBleed editing">
        <img mat-card-md-image [src]="contact?.image || ''">
        <mat-card-title>{{contact?.name}}</mat-card-title>
        <mat-card-subtitle>{{contact?.email || 'No email address'}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-input-container fxFlex>
            <input matInput placeholder="Name" name="name" formControlName="name">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Email" name="email" formControlName="email">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Phone" name="phone">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Website" name="website">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Birthday" name="birthday" type="date">
          </mat-input-container>
          <fieldset formGroupName="address" fxLayout="column">
            <legend>Address</legend>
            <mat-input-container fxFlex>
              <input matInput placeholder="Street" name="street">
            </mat-input-container>
            <mat-input-container fxFlex>
              <input matInput placeholder="Zip" name="zip">
            </mat-input-container>
            <mat-input-container fxFlex>
              <input matInput placeholder="City" name="city" formControlName='city'>
            </mat-input-container>
          </fieldset>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button mat-button type="button" title="Save contact">Save</button>
        <button mat-button type="button" (click)="cancel(contact)" title="Cancel editing">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>